
@{
    ViewBag.Title = "Lollipop";
    Layout = null;
}

<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Add 2 buttons -->

<!-- Create a div where the graph will take place -->
<div id="mylollipop"></div>

<script>


// Initialize plot
update('TotalAverage')

</script>

